In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

Read data from file

In [4]:
df=pd.read_excel("Euroleague 2020-2021.xlsx")
df

,Player,Club,Number,Position,Nation,Age,Height,Games,Min,Pts,...,Blocks(Fv),Blocks(Fv)_avg,Blocks(Ag),Blocks(Ag)_avg,Fouls(Cm),Fouls(Cm)_avg,Fouls(Rv),Fouls(Rv)_avg,PIR,PIR_avg
0,"Abalde, Alberto",Real Madrid,6,Forward,Spain,25,202,39,761,281,...,0,0.00,6,0.15,60,1.54,57,1.46,325,8.33
1,"Abrines, Alex",FC Barcelona,21,Forward,Spain,27,198,39,730,237,...,8,0.21,7,0.18,96,2.46,39,1.00,182,4.67
2,"Alocen, Carlos",Real Madrid,12,Guard,Spain,20,194,28,376,110,...,2,0.07,4,0.14,46,1.64,31,1.11,93,3.32
3,"Amaize, Robin",FC Bayern Munich,15,Forward,Germany,26,188,9,51,4,...,0,0.00,1,0.11,6,0.67,2,0.22,-1,-0.11
4,"Anderson, James",Anadolu Efes,23,Forward,USA,31,198,41,622,172,...,6,0.15,3,0.07,55,1.34,39,0.95,234,5.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,"Zakharov, Denis",Zenit St Petersburg,3,Guard,Russian Federation,27,192,17,82,15,...,1,0.06,0,0.00,20,1.18,12,0.71,6,0.35
290,"Zipser, Paul",FC Bayern Munich,16,Forward,Germany,26,203,39,858,356,...,10,0.26,5,0.13,86,2.21,74,1.90,371,9.51
291,"Zizic, Ante",Maccabi Playtika Tel Aviv,23,Center,Croatia,23,210,34,676,309,...,26,0.76,17,0.50,56,1.65,58,1.71,386,11.35
292,"Zoosman, Yovel",Maccabi Playtika Tel Aviv,50,Guard,Poland,22,200,11,150,29,...,0,0.00,1,0.09,22,2.00,7,0.64,18,1.64
293,"Zubkov, Andrey",Zenit St Petersburg,20,Forward,Russian Federation,29,206,39,626,197,...,1,0.03,3,0.08,67,1.72,53,1.36,197,5.05

Display the first 5 row from dataset

In [5]:
df.head()

,Player,Club,Number,Position,Nation,Age,Height,Games,Min,Pts,...,Blocks(Fv),Blocks(Fv)_avg,Blocks(Ag),Blocks(Ag)_avg,Fouls(Cm),Fouls(Cm)_avg,Fouls(Rv),Fouls(Rv)_avg,PIR,PIR_avg
0,"Abalde, Alberto",Real Madrid,6,Forward,Spain,25,202,39,761,281,...,0,0.00,6,0.15,60,1.54,57,1.46,325,8.33
1,"Abrines, Alex",FC Barcelona,21,Forward,Spain,27,198,39,730,237,...,8,0.21,7,0.18,96,2.46,39,1.00,182,4.67
2,"Alocen, Carlos",Real Madrid,12,Guard,Spain,20,194,28,376,110,...,2,0.07,4,0.14,46,1.64,31,1.11,93,3.32
3,"Amaize, Robin",FC Bayern Munich,15,Forward,Germany,26,188,9,51,4,...,0,0.00,1,0.11,6,0.67,2,0.22,-1,-0.11
4,"Anderson, James",Anadolu Efes,23,Forward,USA,31,198,41,622,172,...,6,0.15,3,0.07,55,1.34,39,0.95,234,5.71

Display the general knowledge about the data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          294 non-null    object
 1   Club            294 non-null    object
 2   Number          294 non-null    int64
 3   Position        294 non-null    object
 4   Nation          294 non-null    object
 5   Age             294 non-null    int64
 6   Height          294 non-null    int64
 7   Games           294 non-null    int64
 8   Min             294 non-null    int64
 9   Pts             294 non-null    int64
 10  Pts_avg         294 non-null    float64
 11  2FG             294 non-null    object
 12  3FG             294 non-null    object
 13  FT              294 non-null    object
 14  Rebounds        294 non-null    int64
 15  Rebounds_avg    294 non-null    float64
 16  Assists         294 non-null    int64
 17  Assists_avg     294 non-null    float64
 18  Steals          294 non-null    int64
 19  Steals_avg      294 non-null    float64
 20  Turnovers       294 non-null    int64
 21  Turnovers_avg   294 non-null    float64
 22  Blocks(Fv)      294 non-null    int64
 23  Blocks(Fv)_avg  294 non-null    float64
 24  Blocks(Ag)      294 non-null    int64
 25  Blocks(Ag)_avg  294 non-null    float64
 26  Fouls(Cm)       294 non-null    int64
 27  Fouls(Cm)_avg   294 non-null    float64
 28  Fouls(Rv)       294 non-null    int64
 29  Fouls(Rv)_avg   294 non-null    float64
 30  PIR             294 non-null    int64
 31  PIR_avg         294 non-null    float64
dtypes: float64(10), int64(15), object(7)
memory usage: 73.6+ KB

Display the statistical result for the numerical data from the dataset

In [7]:
df.describe()

,Number,Age,Height,Games,Min,Pts,Pts_avg,Rebounds,Rebounds_avg,Assists,...,Blocks(Fv),Blocks(Fv)_avg,Blocks(Ag),Blocks(Ag)_avg,Fouls(Cm),Fouls(Cm)_avg,Fouls(Rv),Fouls(Rv)_avg,PIR,PIR_avg
count,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,...,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000
mean,17.578231,27.578231,199.710884,24.057823,450.500000,177.105442,6.254810,65.227891,2.378503,39.163265,...,5.404762,0.202619,5.404762,0.199898,44.884354,1.719014,44.564626,1.596122,189.561224,6.526701
std,15.975846,4.565676,8.186067,11.480807,305.773386,147.231397,4.174004,54.368033,1.539595,44.840337,...,8.139742,0.274558,5.345035,0.162177,27.533044,0.676036,40.849272,1.183674,169.496629,4.988507
min,0.000000,17.000000,178.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000,-2.000000
25%,7.000000,25.000000,193.000000,15.000000,168.500000,42.250000,2.904167,19.250000,1.200000,8.250000,...,0.000000,0.000000,1.000000,0.080000,22.000000,1.300000,10.000000,0.710000,40.250000,2.362500
50%,13.000000,28.000000,200.000000,28.000000,471.000000,151.500000,5.768908,52.000000,2.080000,26.000000,...,2.000000,0.100000,4.000000,0.170000,44.500000,1.730000,34.000000,1.325000,151.000000,5.665000
75%,23.000000,31.000000,205.000000,33.000000,700.750000,281.000000,9.123932,101.750000,3.217500,51.750000,...,7.000000,0.290000,8.000000,0.290000,66.000000,2.165000,65.750000,2.197500,308.000000,10.292500
max,99.000000,40.000000,223.000000,41.000000,1200.000000,668.000000,19.782609,289.000000,8.550000,266.000000,...,63.000000,1.750000,28.000000,0.780000,120.000000,3.730000,198.000000,5.310000,701.000000,19.700000

Display the statistical result for the object data from the dataset

In [8]:
df.describe(include="object")

                 Player                  Club Position Nation  2FG  3FG   FT
count               294                   294      294    294  294  294  294
unique              293                    18        3     41  255  216  222
top     Westermann, Leo  Khimki Moscow Region    Guard    USA  0/0  0/0  0/0
freq                  2                    20      124     81   11   34   25